body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    display: flex;
    justify-content: center;

}
h3 {
    display: flex;
    justify-content: center;

}
#mainbtn {
    display: flex;
    justify-content: center;

}
.levelbtn {
    margin: 2em 1em;
    padding: 15px;
}
#easy{
    display: block;
}
